input, select{
  width: 311px !important;
  height: 53px !important;
  margin: auto;
}

textarea{
  width: 311px !important;
  margin: auto;
}

.form-control:focus{
  border: 1px solid #E72020;
}
.btn{
  display: block;
  margin: auto;
}

.btn-danger{
  background-color: #E72020 !important;
  padding: 10px 140px;
}

.btn-danger:hover {
  color: #E72020 !important;
  background: #ffffff !important;
  border: 1px solid #E72020 !important;
}

.btn-outline-danger{
  border: 1px solid #E72020;
  padding: 10px 100px;
  margin-top: 60px;
}
.btn-outline-danger:hover {
  color: #fff !important;
  background: #E72020 !important;
  border: 1px solid #E72020 !important;
}
